.principal {
   width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  border-radius: 5px;
  padding: 5px;
}

.cartas{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
