section {
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-content: center;
  background-color: green;
  border-radius: 5px;
  padding: 5px;
}

.cartas{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.juega {
  width: 15px;
  height: 15px;
  background-color: greenyellow;
  border-radius: 50%;
}