.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /* oscurece el fondo */
  backdrop-filter: blur(5px); /* desenfoque del fondo */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.botonModal {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
}

.botonModal:hover {
    box-shadow: 1px 1px 5px black;
}