
section {
  height: 100%;
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.infoJugador {
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
}

.infoJugador p {
  margin: 10px;
}
