.espacioJugador{
     display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}


.botonIngresar, .botonDescartar {
    color: black;
    padding: 5px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.botonIngresar:hover, .botonDescartar:hover {
    background-color: var(--buttom-hover);
    color: white;
}

.cartaSeleccionada {
  filter: blur(2px) brightness(0.8);
  transform: scale(0.95);
  transition: all 0.2s ease-in-out;
}

.manoJugador img {
    cursor: pointer;
}